reformat
autologging
odict
optconstruct
python-qpid-proton
git+git://github.com/rh-messaging-qe/iqa_common@devel#egg=iqa_common
git+git://github.com/rh-messaging-qe/messaging_abstract@devel#egg=messaging_abstract